[req] 
    req_extensions = v3_req 

    [ v3_req ] 
    # Extensions to add to a certificate request 
    basicConstraints = CA:FALSE 
    keyUsage = nonRepudiation, digitalSignature, keyEncipherment 
    subjectAltName = @alt_names 

    [alt_names]
    IP.0  = 127.0.0.1
    IP.1  = ::1
    DNS.0 = localhost
    DNS.1 = ip6-localhost
    DNS.2 = httpp.localhost
    DNS.3 = tbdcn
    DNS.4 = *.tbdcn
